* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

form {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

input {
    font-family: "Roboto", sans-serif;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

#chat{
	flex: 1;
	padding: 50px 10% 20px 10%;
    overflow-y: auto;
}

#contentWrap{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

#contentWrap.hidden,
.hidden {
	display: none;
}


#users{
	width: 20%;
	background-color: #eee;
    padding: 0 20px;
}

#chatWrap{
	width: 80%;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px 5px;
}

input[type="submit"] {
	border: none;
	background: blue;
	color: #fff;
    padding: 5px 15px;
}

div#nickWrap {
    display: flex;
    flex-direction: column;
}
div#nickWrap p {
	text-align: center;
}

.cover {
	background: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form#setNick {
    flex-direction: row;
}